.toolItemContainer {
	width: 70%;
	max-width: 1160px;
	margin: 0 auto;
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	.toolItem {
		width: 48%;
		padding: 20px;
		margin-top: 30px;
		background: #fff;
		box-shadow: 0px 0px 8px rgba(72, 132, 255, .5);
		border-radius: 6px;
		transition: all .2s linear;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		.tool-icon {
			width: 50px;
			height: 60px;
			margin-right: 14px;
			&.record {
				background: url("@/images/tools/record.svg") center no-repeat;
				background-size: 36px;

			}
		}
		.tool-name {
			font-size: 24px;
			font-weight: bold;
		}
		.tool-desc {
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #333;
			font-size: 18px;
		}
		&:hover {
			color: #4884ff;
			transform: translateY(4px);
			box-shadow: none;
		}
	}
	
}