.blogListContainer {
	width: 70%;
	max-width: 1160px;
	margin: 0 auto;
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	.blog-item {
		display: inline-block;
		width: 48%;
		padding: 20px;
		margin-top: 30px;
		// box-shadow: 0px 0px 8px rgba(72, 132, 255, .5);
		// border: 1px solid transparent;
		box-shadow: rgba(72, 132, 255, 0.1) 0px 0px 4px, rgba(72, 132, 255, 0.1) 0px 2px 4px;
		border-radius: 6px;
		transition: all .2s linear;
		.blog-title {
			font-size: 24px;
			font-weight: bold;
		}
		.blog-bottom-info {
			margin-top: 30px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #333;
			font-size: 14px;
			.blog-tags {
				.blog-tag {
					padding: 4px 8px;
					border: 1px solid #4884ff;
					border-radius: 4px;
					margin-right: 6px;
				}
			}
			.blog-time {
				color: #8D949E;
				font-size: 18px;
			}
		}
		&:hover {
			box-shadow: rgba(72, 132, 255, 0.1) 0px 4px 8px, rgba(72, 132, 255, 0.16) 0px 8px 16px;
			// border: 1px solid transparent;
			transform: translateY(-4px);
			// box-shadow: none;
			// border: 1px solid #e3e3e3;
			.blog-title {
				color: #4884ff;
			}
			.blog-bottom-info {
				color: #333;
				.blog-time {
					color: #8D949E;
				}
			}
		}
	}
}