$mainColor: #4884ff;
// $hoverColor: pink;
$hoverColor: #FF1493;
@font-face {
	font-family: "ArefRuqaa";
	src: url("@/fonts/ArefRuqaa-Regular.ttf");
}
@font-face {
	font-family: "DanceScript";
	src: url("@/fonts/DancingScript-Bold.ttf");
}
@font-face {
	font-family: "PetitFormal";
	src: url("@/fonts/PetitFormalScript-Regular.ttf");
}