@import "../../styles/base";
.site-header {
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	color: #000;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(2px);
	transition: all .3s ease-in-out;
	// border-bottom: 1px solid #e3e3e3;
	&.transparentHeader {
		background: transparent;
		border-bottom: none;
		backdrop-filter: none;
		.header_title {
			&:hover {
				text-shadow: 5px 5px 10px pink;
			}
		}
	}
	&.whiteHeader, &:hover {
		background: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(2px);
		box-shadow: 0 3px 3px rgba(190, 207, 252, .3);
	}
}
a {
	text-decoration: none;
}
.header_title {
	font-size: 30px;
	font-family: "PetitFormal";
	text-decoration: none;
	font-weight: bold;
	&:hover {
		// color: $mainColor;
		color: $hoverColor;
	}
}
.header-menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.header-item {
		font-size: 20px;
		margin: 0 10px;
		cursor: pointer;
		letter-spacing: 1px;
		position: relative;
		&:hover {
			// color: $mainColor;
			color: $hoverColor;
		}
		&.dropdown-item {
			&:hover {
				color: inherit;
			}
		}
	}
}
.ant-dropdown-menu-title-content {
	font-size: 16px;
	.link-of-drop {
		&:hover {
			// color: $mainColor;
			color: $hoverColor;
		}
	}
}